extends ../includes/base
block custom-style
    link(href="css/X-rayHTML.css" rel="stylesheet" type="text/css")
block whichtheme
  - var theme = 'default'
block isfullwidth
  - var colSize = 'col-md-12'
block breadcrumb
  // BREADCRUMB
  include ../includes/breadcrumb
block main-content
  .row.addon-row.addon-row-attached
    .col-xs-12
      h1 Calendar
      p
        | Add a calendar to your page with a small script.
      #your-div-id

      h2 HTML
      p "your-div-id" can be named anything you'd like. Just make sure it matches the variable in your JavaScript.
      p If you have multiple calendars on your page, you will need unique ids for each one.
      pre
        code
          ='<div id="your-div-id"></div>'
      h2 JavaScript
      p If you want defaults use:
      pre
        code
          | $('#your-div-id').eventsCalendar({
          |   calNum: '69gk-ky9a' //Socrata database number *Required
          | });
      p Otherwise override defaults by using using the options below:
      pre
        code
          | $('#your-div-id').eventsCalendar({
          |   calNum: '69gk-ky9a', //Socrata database number *Required
          |   numItems: 5, //default is 4
          |   title: 'My Events', //default is 'Events'
          |   titleIcon: 'fa-facebook' //default is 'fa-calendar'; uses font awesome fonts
          |   allItemsUrl: 'http://www.kingcounty.gov' //default is 'http://www.kingcounty.gov/about/news/events'
          |   allItemsText: 'I have more events" //Default is 'See all events'
          | });
block custom-js
  script(type='text/javascript', src="js/x-rayHTML.js")
  script.
    $( document ).ready(function() {
      $('<a class="btn btn-primary">Show code</a>').insertBefore( ".snippet" );
      $('.xrayhtml a.btn.btn-primary').click(function(){
        $(this).text(function(i, text){
            return text === "Show code" ? "Hide code" : "Show code";
          });
        $(this).parent().find(".source-panel").collapse('toggle');
      });
      $('#your-div-id').eventsCalendar({
        calNum: "69gk-ky9a", //Socrata database number *Required
        numItems: 4
      });
     });
