extends ../includes/base
block custom-style
    link(href="css/X-rayHTML.css" rel="stylesheet" type="text/css")
block whichtheme
  - var theme = 'default'
block isfullwidth
  - var colSize = 'col-md-12'
block breadcrumb
  // BREADCRUMB
  include ../includes/breadcrumb
block main-content
  .row.addon-row.addon-row-attached
      .col-xs-12
        h2 Labels
        p
            | Labels
          div(data-xrayhtml)
            h1
              | Example heading 
              span.label.label-default New
            h2
              | Example heading 
              span.label.label-default New
            h3
              | Example heading 
              span.label.label-default New
            h4 
              | Example heading 
              span.label.label-default New
            h5
              | Example heading 
              span.label.label-default New
            h6
              | Example heading 
              span.label.label-default New
block custom-js
  script(type='text/javascript', src="js/x-rayHTML.js")
  script.
    $( document ).ready(function() {
      $('<a class="btn btn-primary">Show code</a>').insertBefore( ".snippet" );
      $('.xrayhtml a.btn.btn-primary').click(function(){
        $(this).text(function(i, text){
            return text === "Show code" ? "Hide code" : "Show code";
          });
        $(this).parent().find(".source-panel").collapse('toggle');
      });
     });