#nav-lg.container.hidden-sm.hidden-xs
  .row
    #nav-left-lg
      #logo-wrapper
        a(href='/')
          img#kc-logo.img-responsive(src='/img/KClogo-horiz-black-lg.gif', alt='King County Logo')
    //#nav-logo-lg 
    #nav-right-lg
      .row
        #lg-search-wrapper.navbar-right
          form.search-form(role='form', accept-charset='UTF-8', action='/search-results.html', method='get')
            label.sr-only(for='lg-search-input') Search kingcounty.gov
            input(name='utf8', type='hidden', value='✓')
            input.form-control.search-form-text(id='lg-search-input' name='q', placeholder='Search Kingcounty.gov', type='search')
            button.btn.btn-link.search-form-btn(type='submit')
              span.sr-only Search KingCounty.gov
              span.fa.fa-search
      .row
        nav#navbar-full.navbar.yamm.navbar-inverse(role='navigation')
          ul.nav.navbar-nav.pull-right
            li
              a.nav-header.bold(href='/')
                span.active
                  span#full-home-text Home
                  span.fa.fa-home
            include nav-how-do-i
            include nav-services
            li.dropdown.yamm-fw
              a.dropdown-toggle.disabled.nav-header(href='/about', data-toggle='dropdown')
                span(class='') About King County 
                span.fa.fa-caret-down
              ul.dropdown-menu
                li
                  .yamm-content
                    .row
                      .col-md-6
                        ul.list-unstyled
                          li
                            a href='/customerservice') Contact us
                          li
                            a(href='/elected') Elected officials
                          li
                            a(href='/exec/equity.aspx') Equity & social justice
                          li
                            a(href='/operations/archives/historylinks.aspx#_General_County_History') History
                          li
                            a(href='/services/jobs-training.aspx') Jobs & training
                          li
                            a(href='/about/news.aspx') News & events
                      .col-md-6
                        ul.list-unstyled
                          li
                            a(href='/about/region/maps.aspx') Maps
                          li
                            a(href='/exec/PSB/Demographics/DataReports.aspx') Data and statistics
                          li
                            a(href='/employees.aspx') King County Employees
                          li
                            a(href='/about/vision-strategic.aspx') Vision & strategic plan
                          li
                            a.btn.nav-dropdown-btn.btn-block(href='/about.aspx') More information
            li.dropdown.yamm-fw
              a.dropdown-toggle.disabled.nav-header(href='/depts', data-toggle='dropdown')
                span(class='') Departments 
                span.fa.fa-caret-down
              ul.dropdown-menu
                li
                  .yamm-content
                    .row
                      .col-md-4
                        ul.list-unstyled
                          li
                            a(href='/courts/detention') Adult & Juvenile Detention
                          li
                            a(href='/assessor') Assessor
                          li
                            a(href='/operations/auditor') Auditor
                          li
                            a(href='/property/PropertyTaxAppeals/about') Board of Appeals/Equalization
                          li
                            a(href='/operations/DCHS') Community & Human Services
                          li
                            a(href='/council') Council
                          li
                            a(href='/courts/DistrictCourt') District Court
                          li
                            a(href='/business/Forecasting') Economic & Financial Analysis
                          li
                            a(href='/elections') Elections
                      .col-md-4
                        ul.list-unstyled
                          li
                            a(href='/exec') Executive Office
                          li
                            a(href='/operations/ExecutiveServices') Executive Servces
                          li
                            a(href='/property/HearingExaminer') Hearing Examiner
                          li
                            a(href='/operations/it') Information Technology
                          li
                            a(href='/KCTV') King County TV
                          li
                            a(href='/operations/oleo') Law Enforcement Oversight
                          li
                            a(href='/environment/dnrp') Natural Resources & Parks
                          li
                            a(href='/operations/Ombudsman') Ombudsman
                      .col-md-4
                        ul.list-unstyled
                          li
                            a(href='/property/permits') Permitting & Environmental Review
                          li
                            a(href='/Prosecutor') Prosecuting Attorney
                          li
                            a(href='/courts/OPD') Public Defense
                          li
                            a(href='/healthservices/health') Public Health
                          li
                            a(href='/safety/sheriff') Sheriff
                          li
                            a(href='/courts/SuperiorCourt') Superior Court
                          li
                            a(href='/courts/Clerk.aspx') Superior Court Clerk's Office (DJA)
                          li
                            a(href='/transportation/kcdot') Transportation
                          li
                            a(href='/property/TaxAdvisor') Tax Advisor
                          li
                            a.btn.nav-dropdown-btn.btn-block(href='/depts') More departments