nav#nav-xs.navbar.navbar-inverse(role='navigation')
  .container.visible-xs
    .navbar-header.remove-border-bottom
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-dropdown-xs')
        span.sr-only Toggle navigation
        i.fa.fa-search.fa-2x
      a(href='/')
        img.img-responsive(src=rootPrefix + 'img/KClogo-horiz-white-sm-xs.png', alt='King County logo')
      button#nav-search-btn-xs.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-dropdown-xs')
        span.sr-only Toggle navigation
        i.fa.fa-bars.fa-2x
    #navbar-dropdown-xs.collapse.navbar-collapse
      form.navbar-form.search-form(role='search', action='http://search.kingcounty.gov/search', method='get', accept-charset='UTF-8')
        label.sr-only(for='search-form-text') Search kingcounty.gov
        input(name='utf8', type='hidden', value='✓')
        input#affiliate(name='affiliate', type='hidden', value='kingcounty')
        input.usagov-search-autocomplete.form-control(autocomplete='off', type='text', name='query', placeholder='Search Kingcounty.gov')
        button.btn.btn-link.search-form-btn(type='submit')
          i.fa.fa-search
      ul.nav.navbar-nav
        li
          a(href='/')
            span. Home
        li
          a(href='/how-do-i')
            span. How Do I...
        li
          a(href='/services')
            span. Services
        li
          a(href='/about') About King County
        li
          a(href='/depts') Departments