li.dropdown.yamm-fw
  a.dropdown-toggle.disabled.nav-header.bold(href='/how-do-i', title='How do I...', data-toggle='dropdown')
    span. How do I... 
    i.fa.fa-caret-down
  ul.dropdown-menu
    li
      .yamm-content
        .row
          .col-md-4.col-sm-4
            ul.list-unstyled
              li.nav-title Apply for
              li
                a(href='/property/permits/info', title='Permits') Permits
              li
                a(href='/jobs', title='King County Jobs') Jobs at King County
              li
                a(href='/safety/regionalAnimalServices/License', title='Pet License') Pet license
              li.hidden-link
                a(href='/business/licenses', title='Business license') Business license
              li.hidden-link
                a(href='/courts/marriage', title='Marriage license') Marriage license
              li
                a.toggle-hidden-links(href='#', title='Show more')
                  i.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Attend
              li
                a(href='/how-do-i/jury-duty', title='Jury duty') Jury duty
            ul.list-unstyled
              li.nav-title Do business with King County
              li
                a(href='https://procurement.kingcounty.gov/procurement_ovr/login.aspx?ReturnUrl=%2fprocurement_ovr%2fdefault.aspx', title='Register as a vendor') Register as a vendor
              li
                a(href='/operations/procurement.aspx', title='Bid & contract opportunities') View bid & contract opportunities
              li
                a(href='/exec/BusinessDev/contractingopps.aspx', title='Become a certified small business contractor or supplier') Become a certified small business contractor or supplier
              li.hidden-link
                a(href='https://info.kingcounty.gov/EXEC/contractreporting/Public/SCS/default.aspx', title='Find certified small business contractors and suppliers') Find certified small business contractors and suppliers
              li
                a.toggle-hidden-links(href='#', title='Show more')
                  i.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Look up
              li
                a(href='http://your.kingcounty.gov/solidwaste/wdidw/index.asp', title='Recycle: What do I do with?') Recycle: What do I do with?
              li
                a(href='/safety/sheriff/SOSearch.aspx', title='Sex offenders') Sex offenders
              li
                a(href='http://info.kingcounty.gov/Assessor/eRealProperty/default.aspx', title='Property values') Property values
              li.hidden-link
                a(href='/business/Forecasting', title='Economic forecast') Economic forecast
              li.hidden-link
                a(href='/elections/currentelections', title='Election results') Election results
              li.hidden-link
                a(href='/operations/Finance/Treasury/PropertyTax', title='Property tax') Property tax
              li
                a.toggle-hidden-links(href='#', title='Show more')
                  i.fa.fa-ellipsis-h
          .col-md-4.col-sm-4
            ul.list-unstyled
              li.nav-title File
              li
                a(href='/courts/Clerk/HowDoI/Fileadocument', title='Superior Court documents') Superior Court documents
            ul.list-unstyled
              li.nav-title Get around
              li
                a(href='/tools/trip-planner/', title='Plan a bus trip') Plan a bus trip
              li
                a(href='http://metro.kingcounty.gov/tops/bike/bike.html', title='Travel by bike') Travel by bike
              li
                a(href='http://metro.kingcounty.gov/schedules/', title='Find a bus schedule') Find a bus schedule
              li.hidden-link
                a(href='http://metro.kingcounty.gov/parknrides', title='Find a park & ride') Find a park & ride
              li.hidden-link
                a(href='http://metro.kingcounty.gov/tops/van-car/van-car.html') Explore carpooling options
              li.hidden-link
                a(href='/transportation/kcdot/WaterTaxi', title='Take a water tax') Take a water taxi
              li.hidden-link
                a(href='http://metro.kingcounty.gov/tops/accessible/programs.html', title='Find senior transportation') Find senior transportation
              li
                a.toggle-hidden-links(href='#', title='Show more')
                  i.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Help for
              li
                a(href='/how-do-i/domestic-violence', title='Domestic violence') Domestic violence
              li
                a(href='/services/police-safety', title='Emergencies') Emergencies
              li
                a(href='http://crisisclinic.org/', title='Crisis') Crisis
              li.hidden-link
                a(href='/socialservices/Housing/Resources/HomelessResources', title='Homeless') Homeless
              li.hidden-link
                a(href='/Assessor/TaxpayerAssistance/TaxRelief', title='Property tax relief') Property tax relief
              li.hidden-link
                a(href='/services/rural', title='Rural resident') Rural residents
              li.hidden-link
                a(href='/socialservices/veterans', title='Veterans') Veterans
              li
                a.toggle-hidden-links(href='#', title='Show more')
                  i.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Locate
              li
                a(href='/environment/dnrp/park_map', title='Parks') Parks
              li
                a(href='/healthservices/health/locations', title='Public health clinics') Public health clinics
              li
                a(href='/transportation/kcdot/Roads/Construction', title='Road projects') Road projects
              li.hidden-link
                a(href='/transportation/kcdot/Roads/Bicycling', title='Bike routes') Bike routes
              li.hidden-link
                a(href='/operations/Finance/Treasury/Foreclosure', title='Foreclosures') Foreclosures
              li.hidden-link
                a(href='/recreation/parks/trails', title='Hiking & biking trails') Hiking & biking trails
              li.hidden-link
                a(href='http://ingress.kingcounty.gov/inmatelookup/', title='Jail inmate') Jail inmate
              li.hidden-link
                a(href='/operations/GIS/PropResearch/ParcelViewer', title='Property') Property
              li
                a.toggle-hidden-links(href='#', title='show more')
                  i.fa.fa-ellipsis-h
          .col-md-4.col-sm-4
            ul.list-unstyled
              li.nav-title Pay for
              li
                a(href='/healthservices/health/vitalstats/birth.aspx', title='Birth certificate') Birth certificate
              li
                a(href='/operations/Finance/Treasury/PropertyTax', title='Pay or look up property tax') Pay or look up property tax
              li
                a(href='/courts/marriage/Licensecopies', title='Marriage certificate') Marriage certificate
              li.hidden-link
                a(href='/business/Recorders/Fees', title='Deed') Deed
              li.hidden-link
                a(href='/healthservices/health/vitalstats/death', title='Death certificate') Death certificate
              li.hidden-link
                a(href='/business/Recorders/Fees', title='Title certificate') Title certificate
              li.hidden-link
                a(href='/environment/wastewater/capacityCharge.aspx', title='Capacity charge') Sewage treatment capacity charge
              li
                a.toggle-hidden-links(href='#', title='show more')
                  i.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Register or request
              li
                a(href='https://public.govdelivery.com/accounts/WAKING/subscriber/new', title='Email or text alerts') Email or text alerts
              li
                a(href='/elections/registration', title='To vote') To vote
              li
                a(href='/operations/ExecutiveServices/PublicRecords', title='Public records') Public records
              li.hidden-link
                a(href='/business/licenses', title='Your business with King County') Your business with King County
              li
                a.toggle-hidden-links(href='#', title='show more')
                  i.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Report
              li
                a(href='/safety/sheriff/ReportToSheriff', title='Crime') Crime
              li
                a(href='http://your.kingcounty.gov/solidwaste/cleanup/report-dumping.asp', title='Illegal dumping') Illegal dumping
              li
                a(href='/exec/CivilRights/FileComplaint', title='Discrimination complaint') Discrimination complaint
              li.hidden-link
                a(href='/healthservices/health/ehs/foodsafety/inspections/complaints', title='Unsafe food handling') Unsafe food handling
              li.hidden-link
                a(href='/environment/wtd/Response', title='Septic or sewer problem') Septic or sewer problem
              li.hidden-link
                a(href='http://info.kingcounty.gov/about/contact/default.aspx', title='Other problems or complaints') Other problems or complaints
              li
                a.toggle-hidden-links(href='#', title='show more')
                  i.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Do more online
              li
                a(href='/tools/trip-planner', title='Metro Trip Planner') Metro Trip Planner
              li
                a(href='/operations/GIS/PropResearch/ParcelViewer.aspx', title='Parcel viewer property information') Parcel viewer property information
              li
                a(href='http://ingress.kingcounty.gov/inmatelookup/', title='Jail inmate lookup') Jail inmate lookup
              li
                a.btn.btn.nav-dropdown-btn.btn-block(href='/how-do-i', title='More tasks') More tasks