li.dropdown.yamm-fw
  a.dropdown-toggle.disabled.nav-header.bold(href='/how-do-i', data-toggle='dropdown')
    span(class='') How do I... 
    span.fa.fa-caret-down
  ul.dropdown-menu
    li
      .yamm-content
        .row
          .col-md-4.col-sm-4
            ul.list-unstyled
              li.nav-title Apply for
              li
                a(href='/property/permits/info') Permits
              li
                a(href='/jobs') Jobs at King County
              li
                a(href='/safety/regionalAnimalServices/License') Pet license
              li.hidden-link
                a(href='/business/licenses') Business license
              li.hidden-link
                a(href='/courts/marriage') Marriage license
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Attend
              li
                a(href='/how-do-i/jury-duty') Jury duty
            ul.list-unstyled
              li.nav-title Do business with King County
              li
                a(href='https://procurement.kingcounty.gov/procurement_ovr/login.aspx?ReturnUrl=%2fprocurement_ovr%2fdefault.aspx') Register as a vendor
              li
                a(href='/operations/procurement.aspx') View bid & contract opportunities
              li
                a(href='/exec/BusinessDev/contractingopps.aspx') Become a certified small business contractor or supplier
              li.hidden-link
                a(href='https://info.kingcounty.gov/EXEC/contractreporting/Public/SCS/default.aspx') Find certified small business contractors and suppliers
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Look up
              li
                a(href='http://your.kingcounty.gov/solidwaste/wdidw/index.asp') Recycle: What do I do with?
              li
                a(href='/safety/sheriff/SOSearch.aspx') Sex offenders
              li
                a(href='http://info.kingcounty.gov/Assessor/eRealProperty/default.aspx') Property values
              li.hidden-link
                a(href='/business/Forecasting') Economic forecast
              li.hidden-link
                a(href='/elections/currentelections') Election results
              li.hidden-link
                a(href='/operations/Finance/Treasury/PropertyTax') Property tax
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
          .col-md-4.col-sm-4
            ul.list-unstyled
              li.nav-title File
              li
                a(href='/courts/Clerk/HowDoI/Fileadocument') Superior Court documents
            ul.list-unstyled
              li.nav-title Get around
              li
                a(href='/tools/trip-planner/') Plan a bus trip
              li
                a(href='http://metro.kingcounty.gov/tops/bike/bike.html') Travel by bike
              li
                a(href='http://metro.kingcounty.gov/schedules/') Find a bus schedule
              li.hidden-link
                a(href='http://metro.kingcounty.gov/parknrides') Find a park & ride
              li.hidden-link
                a(href='http://metro.kingcounty.gov/tops/van-car/van-car.html') Explore carpooling options
              li.hidden-link
                a(href='/transportation/kcdot/WaterTaxi') Take a water taxi
              li.hidden-link
                a(href='http://metro.kingcounty.gov/tops/accessible/programs.html') Find senior transportation
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Help for
              li
                a(href='/how-do-i/domestic-violence') Domestic violence
              li
                a(href='/services/police-safety') Emergencies
              li
                a(href='http://crisisclinic.org/') Crisis
              li.hidden-link
                a(href='/socialservices/Housing/Resources/HomelessResources') Homeless
              li.hidden-link
                a(href='/Assessor/TaxpayerAssistance/TaxRelief') Property tax relief
              li.hidden-link
                a(href='/services/rural') Rural residents
              li.hidden-link
                a(href='/socialservices/veterans') Veterans
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Locate
              li
                a(href='/environment/dnrp/park_map') Parks
              li
                a(href='/healthservices/health/locations') Public health clinics
              li
                a(href='/transportation/kcdot/Roads/Construction') Road projects
              li.hidden-link
                a(href='/transportation/kcdot/Roads/Bicycling') Bike routes
              li.hidden-link
                a(href='/operations/Finance/Treasury/Foreclosure') Foreclosures
              li.hidden-link
                a(href='/recreation/parks/trails') Hiking & biking trails
              li.hidden-link
                a(href='http://ingress.kingcounty.gov/inmatelookup/') Jail inmate
              li.hidden-link
                a(href='/operations/GIS/PropResearch/ParcelViewer') Property
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
          .col-md-4.col-sm-4
            ul.list-unstyled
              li.nav-title Pay for
              li
                a(href='/healthservices/health/vitalstats/birth.aspx') Birth certificate
              li
                a(href='/operations/Finance/Treasury/PropertyTax') Pay or look up property tax
              li
                a(href='/courts/marriage/Licensecopies') Marriage certificate
              li.hidden-link
                a(href='/business/Recorders/Fees') Deed
              li.hidden-link
                a(href='/healthservices/health/vitalstats/death') Death certificate
              li.hidden-link
                a(href='/business/Recorders/Fees') Title certificate
              li.hidden-link
                a(href='/environment/wastewater/capacityCharge.aspx') Sewage treatment capacity charge
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Register or request
              li
                a(href='https://public.govdelivery.com/accounts/WAKING/subscriber/new') Email or text alerts
              li
                a(href='/elections/registration') To vote
              li
                a(href='/operations/ExecutiveServices/PublicRecords') Public records
              li.hidden-link
                a(href='/business/licenses') Your business with King County
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Report
              li
                a(href='/safety/sheriff/ReportToSheriff') Crime
              li
                a(href='http://your.kingcounty.gov/solidwaste/cleanup/report-dumping.asp') Illegal dumping
              li
                a(href='/exec/CivilRights/FileComplaint') Discrimination complaint
              li.hidden-link
                a(href='/healthservices/health/ehs/foodsafety/inspections/complaints') Unsafe food handling
              li.hidden-link
                a(href='/environment/wtd/Response') Septic or sewer problem
              li.hidden-link
                a(href='http://info.kingcounty.gov/about/contact/default.aspx') Other problems or complaints
              li
                a.toggle-hidden-links(href='#')
                  span.fa.fa-ellipsis-h
            ul.list-unstyled
              li.nav-title Do more online
              li
                a(href='/tools/trip-planner') Metro Trip Planner
              li
                a(href='/operations/GIS/PropResearch/ParcelViewer.aspx') Parcel viewer property information
              li
                a(href='http://ingress.kingcounty.gov/inmatelookup/') Jail inmate lookup
              li
                a.btn.btn.nav-dropdown-btn.btn-block(href='/how-do-i') More tasks