li.dropdown.yamm-fw
  a.dropdown-toggle.disabled.nav-header.bold(href='/services', data-toggle='dropdown', title='services')
    span(class='') Services 
    span.fa.fa-caret-down
  ul.dropdown-menu
    li
      .yamm-content
        .row
          .col-md-6.col-sm-6
            ul.list-unstyled
              li
                a(href='/services/animalspets') Animals & pets
              li
                a(href='/services/arts-culture') Arts & culture
              li
                a(href='/healthservices/health/vitalstats') Birth & death records
              li
                a(href='/services/business') Business
              li
                a(href='/services/codes-laws') Codes & laws
              li
                a(href='/services/courts') Courts
              li
                a(href='/services/emergencies') Emergencies
              li
                a(href='/services/environment') Environment
              li
                a(href='/services/health') Health
              li
                a(href='/services/home-property') Home & property
              li
                a(href='/services/jails') Jails
          .col-md-6.col-sm-6
            ul.list-unstyled
              li
                a(href='/services/jobs-training') Jobs & training
              li
                a(href='/services/licenses-permits-records') Licenses, permits & records
              li
                a(href='/services/parks-recreation') Parks & recreation
              li
                a(href='/services/police-safety') Police & safety
              li
                a(href='/services/recycling-garbage') Recycling & garbage
              li
                a(href='/services/rural') Rural services
              li
                a(href='/services/social-services') Social services
              li
                a(href='/services/transportation-roads') Transportation & roads
              li
                a(href='/services/voting-elections') Voting & elections
              li
                a(href='/services/volunteer') Volunteer
              li
                a.btn.nav-dropdown-btn.btn-block(href='/services') More services