nav#nav-sm.navbar.navbar-inverse.yamm(role='navigation')
  .container.visible-sm
    .navbar-header.remove-border-bottom
      a(href='/')
        img.img-responsive(src='img/KClogo-horiz-white-sm-xs.png', alt='King County logo')
    ul.nav.navbar-nav.navbar-right
      li
        a.nav-header(href='/')
          span.fa.fa-home
      include nav-how-do-i
      li.dropdown.yamm-fw
        a.dropdown-toggle.disabled.nav-header.bold(href='/services', data-toggle='dropdown')
          | Services 
          span.fa.fa-caret-down
        ul.dropdown-menu
          li
            .yamm-content
              .row
                .col-sm-6
                  ul.list-unstyled
                    li
                      a(href='/services/animalspets') Animals & pets
                    li
                      a(href='/services/arts-culture') Arts & culture
                    li
                      a(href='/healthservices/health/vitalstats') Birth & death records
                    li
                      a(href='/services/business') Business
                    li
                      a(href='/services/codes-laws') Codes & laws
                    li
                      a(href='/services/courts') Courts
                    li
                      a(href='/services/emergencies') Emergencies
                    li
                      a(href='/services/environment') Environment
                    li
                      a(href='/services/health') Health
                    li
                      a(href='/services/home-property') Home & property
                    li
                      a(href='/services/jails') Jails
                .col-sm-6
                  ul.list-unstyled
                    li
                      a(href='/services/jobs-training') Jobs & training
                    li
                      a(href='/services/licenses-permits-records') Licenses, permits & records
                    li
                      a(href='/services/parks-recreation') Parks & recreation
                    li
                      a(href='/services/police-safety') Police & safety
                    li
                      a(href='/services/recycling-garbage') Recycling & garbage
                    li
                      a(href='/services/rural') Rural services
                    li
                      a(href='/services/social-services') Social services
                    li
                      a(href='/services/transportation-roads') Transportation & roads
                    li
                      a(href='/services/voting-elections') Voting & elections
                    li
                      a(href='/services/volunteer') Volunteer
                    li
                      a.btn.nav-dropdown-btn.btn-block(href='/services') More services
      li.dropdown.yamm-fw
        a.nav-header.disabled.dropdown-toggle(href='#', data-toggle='dropdown')
          | More 
          span.fa.fa-caret-down
        ul.dropdown-menu
          li
            .yamm-content
              .row
                .col-sm-4
                  ul.list-unstyled
                    li.nav-title
                      a(href='/about') About King County
                    li
                      a(href='/customerservice') Contact us
                    li
                      a(href='/elected') Elected officials
                    li
                      a(href='/exec/equity.aspx') Equity & social justice
                    li
                      a(href='/operations/archives/historylinks.aspx#_General_County_History') History
                    li
                      a(href='/services/jobs-training.aspx') Jobs & training
                    li
                      a(href='/about/news.aspx') News & events
                    li
                      a(href='/about/region/maps.aspx') Maps
                    li
                      a(href='/exec/PSB/Demographics/DataReports.aspx') Data and statistics
                    li
                      a(href='/employees.aspx') King County Employees
                    li
                      a(href='/about/vision-strategic.aspx') Vision & strategic plan
                .col-sm-8
                  .row
                    .col-sm-12
                      ul.list-unstyled
                        li.nav-title Departments
                    .col-sm-6
                      ul.list-unstyled
                        li
                          a(href='/courts/detention') Adult & Juvenile Detention
                        li
                          a(href='/assessor') Assessor
                        li
                          a(href='/operations/DCHS') Community & Human Services
                        li
                          a(href='/council') Council
                        li
                          a(href='/courts/DistrictCourt') District Court
                        li
                          a(href='/elections') Elections
                        li
                          a(href='/exec') Executive Office
                        li
                          a(href='/operations/ExecutiveServices') Executive Servces
                        li
                          a(href='/KCTV') King County TV
                        li
                          a(href='/environment/dnrp') Natural Resources & Parks
                    .col-sm-6
                      ul.list-unstyled
                        li
                          a(href='/property/permits') Permitting & Environmental Review
                        li
                          a(href='/Prosecutor') Prosecuting Attorney
                        li
                          a(href='/courts/OPD') Public Defense
                        li
                          a(href='/healthservices/health') Public Health
                        li
                          a(href='/safety/sheriff') Sheriff
                        li
                          a(href='/courts/SuperiorCourt') Superior Court
                        li
                          a(href='/courts/Clerk.aspx') Superior Court Clerk's Office (DJA)
                        li
                          a(href='/transportation/kcdot') Transportation
                        li
                          a(href='/property/TaxAdvisor') Tax Advisor
      li.dropdown.yamm-fw
        a.nav-header.disabled.dropdown-toggle(href='#', data-toggle='dropdown')
          span.fa.fa-search
        ul.dropdown-menu
          li
            .yamm-content
              .row
                .col-sm-6
                  ul.list-unstyled
                    li
                      a(href='http://directory.kingcounty.gov/EmpSearch.asp') Staff directory
                    li
                      a(href='/business/Recorders/RecordsSearch.aspx') Records search
                    li
                      a(href='/environment/wastewater/MWPAAC/References/Legisearch.aspx') Legisearch
                    li
                      a(href='http://info.kingcounty.gov/Assessor/eRealProperty/default.aspx') Property search
                .col-sm-6
                  form.search-form(role='form', action='/search-results.html', method='get')
                    label.sr-only(for='sm-search-input') Search kingcounty.gov
                    input(name='utf8', type='hidden', value='✓')
                    input.form-control.search-form-text(id="sm-search-input", name='q', placeholder='Search Kingcounty.gov', type='search')
                    button.btn.btn-link.search-form-btn(type='submit')
                      span.sr-only Search KingCounty.gov
                      span.fa.fa-search