li.dropdown.yamm-fw
  a.dropdown-toggle.disabled.nav-header.bold(href='/services', data-toggle='dropdown', title='services')
    span. Services 
    i.fa.fa-caret-down
  ul.dropdown-menu
    li
      .yamm-content
        .row
          .col-md-6.col-sm-6
            ul.list-unstyled
              li
                a(href='/services/animalspets', title='Animals and pets') Animals & pets
              li
                a(href='/services/arts-culture', title='Arts and culture') Arts & culture
              li
                a(href='/healthservices/health/vitalstats', title='Birth & death records') Birth & death records
              li
                a(href='/services/business', title='Business') Business
              li
                a(href='/services/codes-laws', title='Codes & laws') Codes & laws
              li
                a(href='/services/courts', title='Courts') Courts
              li
                a(href='/services/emergencies', title='Emergencies') Emergencies
              li
                a(href='/services/environment', title='Environment') Environment
              li
                a(href='/services/health', title='Health') Health
              li
                a(href='/services/home-property', title='Home & property') Home & property
              li
                a(href='/services/jails', title='Jails') Jails
          .col-md-6.col-sm-6
            ul.list-unstyled
              li
                a(href='/services/jobs-training', title='Jobs & traiddning') Jobs & training
              li
                a(href='/services/licenses-permits-records', title='Licenses, permits & records') Licenses, permits & records
              li
                a(href='/services/parks-recreation', title='Parks & recreation') Parks & recreation
              li
                a(href='/services/police-safety', title='Police & safety') Police & safety
              li
                a(href='/services/recycling-garbage', title='Recycling & garbage') Recycling & garbage
              li
                a(href='/services/rural', title='Rural services') Rural services
              li
                a(href='/services/social-services', title='Social services') Social services
              li
                a(href='/services/transportation-roads', title='Transportation & roads') Transportation & roads
              li
                a(href='/services/voting-elections', title='Voting & elections') Voting & elections
              li
                a(href='/services/volunteer', title='Volunteer') Volunteer
              li
                a.btn.nav-dropdown-btn.btn-block(href='/services', title='More services') More services