div#accordion-default.panel-group 
  div.panel.panel-default
    div.panel-heading 
      h4.panel-title 
        a.collapsed(data-toggle='collapse', data-parent='#accordion-default', href='#accordion-default-collapseOne3')
          | 1. FAQ Question Example
          span.fa.fa-plus.pull-right
    div#accordion-default-collapseOne3.panel-collapse.collapse
      div.panel-body
        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  div.panel.panel-default
    div.panel-heading
      h4.panel-title
        a.collapsed(data-toggle='collapse', data-parent='#accordion-default', href='#accordion-default-collapseTwo3')
          | 2. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          span.fa.fa-plus.pull-right
    div#accordion-default-collapseTwo3.panel-collapse.collapse
      div.panel-body
        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  div.panel.panel-default
    div.panel-heading
      h4.panel-title
        a.collapsed(data-toggle='collapse', data-parent='#accordion-default', href='#accordion-default-collapseThree3')
          | 3. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          span.fa.fa-plus.pull-right
    div#accordion-default-collapseThree3.panel-collapse.collapse
      div.panel-body
        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  div.panel.panel-default
    div.panel-heading
      h4.panel-title
        a.collapsed(data-toggle='collapse', data-parent='#accordion-default', href='#accordion-default-collapse43')
          | 4. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          span.fa.fa-plus.pull-right
    div#accordion-default-collapse43.panel-collapse.collapse
      div.panel-body
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
  div.panel.panel-default
    div.panel-heading
      h4.panel-title
        a.collapsed(data-toggle='collapse', data-parent='#accordion-default', href='#accordion-default-collapse53')
          | 5. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          span.fa.fa-plus.pull-right
    div#accordion-default-collapse53.panel-collapse.collapse
      div.panel-body
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
  div.panel.panel-default
    div.panel-heading
      h4.panel-title
        a.collapsed(data-toggle='collapse', data-parent='#accordion-default', href='#accordion-default-collapse63')
          | 6. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          span.fa.fa-plus.pull-right
    div#accordion-default-collapse63.panel-collapse.collapse
      div.panel-body
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.