doctype html
html.no-js(lang="en")
  include head
  body
    script.
      if (!Modernizr.mq('only all')) {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = '!{rootPrefix}js/vendor/respond.min.js';
      if(document.body != null){ document.body.appendChild(script)};
      var css = document.createElement('link');        
      css.setAttribute('rel', 'stylesheet');
      css.setAttribute('type', 'text/css')
      css.setAttribute('href', '!{rootPrefix}css/ie-only.css');
      document.getElementsByTagName('head')[0].appendChild(css);
      }
    a.sr-only.sr-only-focusable(href="#main-content-sr") Skip to main content
    // GLOBAL ALERT GOES HERE
    header.hidden-print
      include nav/nav
    include main
    include footer
    // Javascript files
    script(src= httpPrefix + '//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src= httpPrefix +'//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src= rootPrefix + 'js/main.js')
    //set the background image
    script.
      $(window).on("resize", function(){chooseBG("!{rootPrefix}img/hero-driftwood-sm.jpg", "!{rootPrefix}img/hero-driftwood.jpg")}).resize();
    block custom-js