doctype html
html.no-js(lang="en")
  include head
  body
    script.
      if (!Modernizr.mq('only all')) {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = '/js/vendor/respond.min.js';
      if(document.body != null){ document.body.appendChild(script)};
      var css = document.createElement('link');        
      css.setAttribute('rel', 'stylesheet');
      css.setAttribute('type', 'text/css')
      css.setAttribute('href', '/css/ie-only.css');
      document.getElementsByTagName('head')[0].appendChild(css);
      }
    a.sr-only.skip-contents(href="#main-content-sr") Skip to main content
    // GLOBAL ALERT GOES HERE
    header.hidden-print
      include nav/nav
    include main
    include footer
    // Javascript files
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/js/main.js')
    //set the background image
    script.
      $(window).on("resize", function(){chooseBG("/img/hero-driftwood-sm.jpg", "/img/hero-driftwood.jpg")}).resize();
    block custom-js