.row.addon-row.main-breadcrumb-row.hidden-print
  .col-xs-12
    //btn.btn.btn-link.text-inverse(type='button', data-toggle='modal', data-target='#myModal')
      span.fa-stack#hero-details
        i.fa.fa-square.fa-stack-2x
        i.fa.fa-camera.fa-stack-1x.fa-inverse
    button.btn.btn-nav-green.pull-left.visible-xs.visible-sm(data-toggle='offcanvas')
      i.fa.fa-chevron-left
      | &nbspMenu 
    ol.breadcrumb.main-breadcrumb
      li
        a(href='#') Level 1
      li
        a(href='#') Level 2
      li.active Level 3