.row.addon-row.main-breadcrumb-row.hidden-print
  .col-xs-12
    button.btn.btn-nav-green.pull-left.visible-xs.visible-sm(data-toggle='offcanvas')
      span.fa.fa-chevron-left
      | &nbspMenu 
    ol.breadcrumb.main-breadcrumb
      li
        a(href='#') Level 1
        span.fa.fa-angle-double-right(aria-hidden="true")
      li
        a(href='#') Level 2
        span.fa.fa-angle-double-right(aria-hidden="true")
      li.active Level 3