.row.addon-row.addon-row-attached
    .col-sm-12
      .page-header
        h1 Page Header
        h2
          small Sub header
.row.addon-row.addon-row-attached
  .col-sm-12
    blockquote.pull-right.col-sm-6
      p
        | With the conservation of the White River forest, the Hancock Timber Resource
        | Group’s Sensitive Lands program would surpass more than 470,000 acres protected
        | globally.
      footer
        em Dan Christensen CEO of Hancock Timber Resource Group
    p
      | Lorem ipsum dolor sit amet, ad modo delicata mel, quaestio sapientem efficiendi in sea, ei melius aliquam suavitate quo. In nec recteque dissentias vituperatoribus. Ut qui exerci consul, vide partem veritus vis cu. Labitur principes pertinacia ne eam, ut cum ignota evertitur, ei paulo nobis dolorem sea. Ex vix scaevola ponderum gubergren, vim ei nihil antiopam. Mei porro novum ei, sea in nulla accumsan.
    p
      | Iudico discere mei ea, vix ea dolore inimicus. Assentior tincidunt pertinacia ex eam, pri ex nisl albucius mandamus. Mea dicant tibique elaboraret ad. Mel ei stet debet, omnis postulant mei cu. Qui vide viderer comprehensam ut, ei pri quod scribentur deterruisset, doming scripta qui in.
    p
      | Iudico discere mei ea, vix ea dolore inimicus. Assentior tincidunt pertinacia ex eam, pri ex nisl albucius mandamus. Mea dicant tibique elaboraret ad. Mel ei stet debet, omnis postulant mei cu. Qui vide viderer comprehensam ut, ei pri quod scribentur deterruisset, doming scripta qui in.
    .clearfix
    p
      | Iudico discere mei ea, vix ea dolore inimicus. Assentior tincidunt pertinacia ex eam, pri ex nisl albucius mandamus. Mea dicant tibique elaboraret ad. Mel ei stet debet, omnis postulant mei cu. Qui vide viderer comprehensam ut, ei pri quod scribentur deterruisset, doming scripta qui in.
    blockquote.pull-left.col-sm-6
      p
        | With the conservation of the White River forest, the Hancock Timber Resource
        | Group’s Sensitive Lands program would surpass more than 470,000 acres protected
        | globally.
      footer
        em Dan Christensen CEO of Hancock Timber Resource Group
    p
      | Lorem ipsum dolor sit amet, ad modo delicata mel, quaestio sapientem efficiendi in sea, ei melius aliquam suavitate quo. In nec recteque dissentias vituperatoribus. Ut qui exerci consul, vide partem veritus vis cu. Labitur principes pertinacia ne eam, ut cum ignota evertitur, ei paulo nobis dolorem sea. Ex vix scaevola ponderum gubergren, vim ei nihil antiopam. Mei porro novum ei, sea in nulla accumsan.
    p
      | Iudico discere mei ea, vix ea dolore inimicus. Assentior tincidunt pertinacia ex eam, pri ex nisl albucius mandamus. Mea dicant tibique elaboraret ad. Mel ei stet debet, omnis postulant mei cu. Qui vide viderer comprehensam ut, ei pri quod scribentur deterruisset, doming scripta qui in.
    p
      | Iudico discere mei ea, vix ea dolore inimicus. Assentior tincidunt pertinacia ex eam, pri ex nisl albucius mandamus. Mea dicant tibique elaboraret ad. Mel ei stet debet, omnis postulant mei cu. Qui vide viderer comprehensam ut, ei pri quod scribentur deterruisset, doming scripta qui in.
.row.addon-row
  .col-sm-12
    p
      | After re-election by the largest margin ever in a race for King County’s top office, Executive Constantine outlined the accomplishments of the past year, and the past four years, that provide the foundation for the work that lies ahead.
.row.addon-row
  .col-sm-12
    h2 White River Forest agreement protects 43,000
    img.pull-right(src='!{rootPrefix}img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
    p
      | In sodales massa nec tortor tempus imperdiet. In sed ipsum metus, a ultricies arcu. Maecenas eu urna sit amet arcu luctus mattis. Fusce sed ante non neque laoreet ullamcorper. Suspendisse ornare luctus turpis, sed porta leo ultricies ac. Pellentesque pulvinar neque in ligula aliquet lacinia.
    p
      a(href='#') Link 1
    p
      a(href='#') Link 2
    p
      a(href='#') Link 3
    p
      a(href='#') Link 4
    p
      a(href='#') Link 5
    p
      a(href='#') Link 6