.row.addon-row.addon-row-attached
  .col-sm-12
    .page-header
      h1 Page Header
      h2
        small Sub header
.row.addon-row.addon-row-attached
  .col-sm-12
    p 
      a(href='http://www.kingcounty.gov') Download link 
      span.fa.fa-download
    p
      | After re-election by the largest margin ever in a race for King County’s top office, Executive Constantine outlined the accomplishments of the past year, and the past four years, that provide the foundation for the work that lies ahead.
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
.row.addon-row.addon-row-attached
  .col-sm-12
    // Main jumbotron for a primary marketing message or call to action 
    .jumbotron
      h1 Hello, world!
      p
        | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .page-header
      h1 Text & icons
      p.text-default Primary text 
      p.text-primary Primary text 
      p.text-success Primary text
      p.text-info Primary text
      p.text-warning Primary text
      p.text-danger Primary text
      p.text-inverse Primary text

      p.text-default 
        i.fa.fa-facebook-square.fa-4x
      p.text-primary
        i.fa.fa-facebook-square.fa-4x 
      p.text-success
        i.fa.fa-facebook-square.fa-4x
      p.text-info
        i.fa.fa-facebook-square.fa-4x
      p.text-warning
        i.fa.fa-facebook-square.fa-4x
      p.text-danger
        i.fa.fa-facebook-square.fa-4x
      p.text-inverse
        i.fa.fa-facebook-square.fa-4x
        

    .page-header
      h1 Buttons
    p
      button.btn.btn-lg.btn-default(type='button') Default
      button.btn.btn-lg.btn-primary(type='button') Primary
      button.btn.btn-lg.btn-success(type='button') Success
      button.btn.btn-lg.btn-info(type='button') Info
      button.btn.btn-lg.btn-warning(type='button') Warning
      button.btn.btn-lg.btn-danger(type='button') Danger
      button.btn.btn-lg.btn-link(type='button') Link
      button.btn.btn-lg.btn-inverse(type='button') Inverse
    p
      button.btn.btn-default(type='button') Default
      button.btn.btn-primary(type='button') Primary
      button.btn.btn-success(type='button') Success
      button.btn.btn-info(type='button') Info
      button.btn.btn-warning(type='button') Warning
      button.btn.btn-danger(type='button') Danger
      button.btn.btn-link(type='button') Link
      button.btn.btn-inverse(type='button') Inverse
    p
      button.btn.btn-sm.btn-default(type='button') Default
      button.btn.btn-sm.btn-primary(type='button') Primary
      button.btn.btn-sm.btn-success(type='button') Success
      button.btn.btn-sm.btn-info(type='button') Info
      button.btn.btn-sm.btn-warning(type='button') Warning
      button.btn.btn-sm.btn-danger(type='button') Danger
      button.btn.btn-sm.btn-link(type='button') Link
      button.btn.btn-sm.btn-inverse(type='button') Inverse
    p
      button.btn.btn-xs.btn-default(type='button') Default
      button.btn.btn-xs.btn-primary(type='button') Primary
      button.btn.btn-xs.btn-success(type='button') Success
      button.btn.btn-xs.btn-info(type='button') Info
      button.btn.btn-xs.btn-warning(type='button') Warning
      button.btn.btn-xs.btn-danger(type='button') Danger
      button.btn.btn-xs.btn-link(type='button') Link
      button.btn.btn-xs.btn-inverse(type='button') Inverse
    .page-header
      h1 Alerts
    .alert.alert-success
      strong Well done!
      | You successfully read this important alert message.
    .alert.alert-info
      strong Heads up!
      | This alert needs your attention, but it's not super important.
    .alert.alert-warning
      strong Warning!
      | Best check yo self, you're not looking too good.
    .alert.alert-danger
      strong Oh snap!
      | Change a few things up and try submitting again.
    .alert.alert-primary
      strong Oh snap!
      | Change a few things up and try submitting again.
    .page-header
      h1 Progress bars
    .progress
      .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
        span.sr-only 60% Complete
    .progress
      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
        span.sr-only 40% Complete (success)
    .progress
      .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
        span.sr-only 20% Complete
    .progress
      .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
        span.sr-only 60% Complete (warning)
    .progress
      .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
        span.sr-only 80% Complete (danger)
    .progress
      .progress-bar.progress-bar-success(style='width: 35%;')
        span.sr-only 35% Complete (success)
      .progress-bar.progress-bar-warning(style='width: 20%;')
        span.sr-only 20% Complete (warning)
      .progress-bar.progress-bar-danger(style='width: 10%;')
        span.sr-only 10% Complete (danger)
    .page-header
      h1 List groups
    .row
      .col-sm-4
        ul.list-group
          li.list-group-item Cras justo odio
          li.list-group-item Dapibus ac facilisis in
          li.list-group-item Morbi leo risus
          li.list-group-item Porta ac consectetur ac
          li.list-group-item Vestibulum at eros
      .col-sm-4
        .list-group
          a.list-group-item.active(href='#')
            | Cras justo odio
          a.list-group-item.list-group-item-success(href='#') Dapibus ac facilisis in
          a.list-group-item.list-group-item-info(href='#') Morbi leo risus
          a.list-group-item.list-group-item-warning(href='#') Porta ac consectetur ac
          a.list-group-item.list-group-item-danger(href='#') Vestibulum at eros
          a.list-group-item.list-group-item-inverse(href='#') Porta ac consectetur ac
          a.list-group-item.list-group-item-default(href='#') Vestibulum at eros
          a.list-group-item.list-group-item-primary(href='#') Dapibus ac facilisis in
      .col-sm-4
        .list-group
          a.list-group-item.active(href='#')
            h4.list-group-item-heading List group item heading
            p.list-group-item-text
              | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
          a.list-group-item(href='#')
            h4.list-group-item-heading List group item heading
            p.list-group-item-text
              | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
          a.list-group-item(href='#')
            h4.list-group-item-heading List group item heading
            p.list-group-item-text
              | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    .page-header
      h1 Panels
    .row
      .col-sm-3
        .panel.panel-default
          .panel-heading
            h3.panel-title Panel title
          .panel-body
            | Panel content
        .panel.panel-primary
          .panel-heading
            h3.panel-title Panel title
          .panel-body
            | Panel content
      .col-sm-3
        .panel.panel-success
          .panel-heading
            h3.panel-title Panel title
          .panel-body
            | Panel content
        .panel.panel-info
          .panel-heading
            h3.panel-title Panel title
          .panel-body
            | Panel content
      .col-sm-3
        .panel.panel-warning
          .panel-heading
            h3.panel-title Panel title
          .panel-body
            | Panel content
        .panel.panel-danger
          .panel-heading
            h3.panel-title Panel title
          .panel-body
            | Panel content
      .col-sm-3
        .panel.panel-inverse
          .panel-heading
            h3.panel-title Panel title
          .panel-body
            | Panel content
    .page-header
      h1 Call Out Text
    div.call-out-text
      | Style 2: 18 px margin (top and bottom), 15 px padding (all sides), background color light gray or active nav item color, border 1 px next darker gray, border radius 6 px . 90's farm-to-table brunch, messenger bag mumblecore kale chips pour-over jean shorts Truffaut dreamcatcher Marfa squid whatever.
    div.call-out-text.call-out-text-default
      | Style 2: 18 px margin (top and bottom), 15 px padding (all sides), background color light gray or active nav item color, border 1 px next darker gra, border radius 6 px . 90's farm-to-table brunch, messenger bag mumblecore kale chips pour-over jean shorts Truffaut dreamcatcher Marfa squid whatever.
    div.call-out-text.call-out-text-primary
      | Style 2: 18 px margin (top and bottom), 15 px padding (all sides), background color light gray or active nav item color, border 1 px next darker gray, border radius 6 px . 90's farm-to-table brunch, messenger bag mumblecore kale chips pour-over jean shorts Truffaut dreamcatcher Marfa squid whatever.
    div.call-out-text.call-out-text-success
      | Style 2: 18 px margin (top and bottom), 15 px padding (all sides), background color light gray or active nav item color, border 1 px next darker gray, border radius 6 px . 90's farm-to-table brunch, messenger bag mumblecore kale chips pour-over jean shorts Truffaut dreamcatcher Marfa squid whatever.
    div.call-out-text.call-out-text-info
      | Style 2: 18 px margin (top and bottom), 15 px padding (all sides), background color light gray or active nav item color, border 1 px next darker gray, border radius 6 px . 90's farm-to-table brunch, messenger bag mumblecore kale chips pour-over jean shorts Truffaut dreamcatcher Marfa squid whatever.
    div.call-out-text.call-out-text-bordered
      | Style 3: border left 6 px color default, margin top and bottom 6 px, padding left (40-6) 34 px, padding right 40 px. Irony deep v authentic kale chips, stumptown Etsy American Apparel readymade salvia. Kickstarter vinyl Pinterest next level twee semiotics, locavore craft beer.
    .page-header
      h1 Wells
    .well
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
    .page-header
      h1 Thumbnails
    img.img-thumbnail(src='http://placehold.it/200x200', alt='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera')
    .page-header
      h1 Labels
      p
        span.label.label-default Default
      p
        span.label.label-primary Primary
      p
        span.label.label-success Success
      p
        span.label.label-info Info
      p
        span.label.label-warning Warning
      p
        span.label.label-danger Danger
      p
        span.label.label-inverse Inverse
    .page-header
      h1 Table Contextual Classes
      table.table
        thead
          tr
            th #
            th Column heading
            th Column heading
            th Column heading
        tbody
          tr.active
            td 1
            td Column content
            td Column content
            td Column content
          tr
            td 2
            td Column content
            td Column content
            td Column content
          tr.success
            td 3
            td Column content
            td Column content
            td Column content
          tr
            td 4
            td Column content
            td Column content
            td Column content
          tr.info
            td 5
            td Column content
            td Column content
            td Column content
          tr
            td 6
            td Column content
            td Column content
            td Column content
          tr.warning
            td 7
            td Column content
            td Column content
            td Column content
          tr
            td 8
            td Column content
            td Column content
            td Column content
          tr.danger
            td 9
            td Column content
            td Column content
            td Column content
    .page-header
      h1 Accordian
    div#accordion.panel-group(role='tablist', aria-multiselectable='true')
      div.panel.panel-default
        div#headingOne.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
              | Collapsible Group Item #1
        div#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
          div.panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      div.panel.panel-default
        div#headingTwo.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
              | Collapsible Group Item #2
        div#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
          div.panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      div.panel.panel-default
        div#headingThree.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              | Collapsible Group Item #3
        div#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
          div.panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

    .page-header
      h1 Modal
      button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
        | Launch demo modal
      // Modal
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4#myModalLabel.modal-title Modal title
            .modal-body
              h4 Text in a modal
              p Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
              h4 Popover in a modal
              p
                | This
                a.btn.btn-default.popover-test(href='#', role='button', title='', data-content='And here"s some amazing content. It"s very engaging. right?', data-original-title='A Title') button
                | should trigger a popover on click.
              h4 Tooltips in a modal
              p
                a.tooltip-test(href='#', title='', data-original-title='Tooltip') This link
                | and
                a.tooltip-test(href='#', title='', data-original-title='Tooltip') that link
                | should have tooltips on hover.
              hr
              h4 Overflowing text to show scroll behavior
              p
                | Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p
                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p
                | Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p
                | Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p
                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p
                | Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p
                | Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p
                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p
                | Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes

    .page-header
      h1 Tabs
    div(role='tabpanel')
      // Nav tabs
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Home
        li(role='presentation')
          a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Profile
        li(role='presentation')
          a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
        li(role='presentation')
          a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
      // Tab panes
      div.tab-content
        div#home.tab-pane.active(role='tabpanel')
          p First tab: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        div#profile.tab-pane(role='tabpanel')
          p Second tab: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        div#messages.tab-pane(role='tabpanel')
          p Third tab: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        div#settings.tab-pane(role='tabpanel')
          p Fourth tab: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        
    .page-header
      h1 Forms
    form(role='form')
      .form-group.has-success
        label.control-label(for='inputSuccess1') Input with success
        input#inputSuccess1.form-control(type='text')
      .form-group.has-warning
        label.control-label(for='inputWarning1') Input with warning
        input#inputWarning1.form-control(type='text')
      .form-group.has-error
        label.control-label(for='inputError1') Input with error
        input#inputError1.form-control(type='text')
      .has-error
        .radio
          label.checkbox
            input#checkboxError(type='checkbox', value='option1')
            | Option one is this and that—be sure to include why it's great
      .has-success
        .radio
          label
            input#radiosSuccess1(type='radio', name='optionsRadios', value='option1', checked='')
            | Option one is this and that—be sure to include why it's great
        .radio
          label
            input#radiosSuccess2(type='radio', name='optionsRadios', value='option2')
            | Option two can be something else and selecting it will deselect option one
    .page-header
      h1 Contextual Backgrounds
    div
      p.bg-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
      p.bg-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
      p.bg-info Maecenas sed diam eget risus varius blandit sit amet non magna.
      p.bg-warning Etiam porta sem malesuada magna mollis euismod.
      p.bg-danger Donec ullamcorper nulla non metus auctor fringilla.



