footer#footer.footer.hidden-print
  #footer-nav-limit
  #sticky-footer.hidden-xs.hidden-sm
    .container
      .row
        .col-sm-4
          h4
            a(href='#footer-nav') Information for... 
        .col-sm-4
          h4
            a(href='#footer-nav') Do more online 
        .col-sm-4
          h4
            a(href='#footer-nav') Contact us 
          
  #footer-nav
    .container
      .row
        .col-sm-4
          h4
            | Information for
            span.pull-right.fa.fa-plus.visible-xs
          ul.list-unstyled.collapse.in
            li
              a(href='/healthservices/health/personal/coverage.aspx') Healthcare enrollment
            li
              a(href='/audiences/residents') Residents
            li
              a(href='/audiences/businesses') Businesses
            li
              a(href='/audiences/job-seekers') Job seekers
            li
              a(href='/audiences/volunteers') Volunteers
            li
              a(href='/audiences/employees') King County employees
        .col-sm-4
          h4
            | Do more online
            span.pull-right.fa.fa-plus.visible-xs
          ul.list-unstyled.collapse.in
            li
              a(href='/tools/trip-planner') Trip Planner
            li
              a(href='/tools/property-tax') Property tax information & payment
            li
              a(href='/tools/inmate-lookup') Jail inmate look up
            li
              a(href='/tools/parcel-viewer') Parcel viewer or iMap
            li
              a(href='/tools/public-records') Public records
            li
              a(href='/how-do-i.aspx#do-more-online-tab')
                em More online tools...
        .col-sm-4
          h4
            | Contact us
            span.pull-right.fa.fa-plus.visible-xs
          ul.list-unstyled.collapse.in
            li
              a(href='tel:+2062960100') 206-296-0100
            li
              a(href='//info.kingcounty.gov/about/contact/default.aspx')
                | Email us 
                span.fa.fa-envelope
            li
              a(href='/tools/staff-directory') Staff directory
            li
              a(href='/elected/executive/customer-service') Customer service
            li
              a(href='/tools/report-problem', title='Report a problem') Report a problem
            li
              a(href='//public.govdelivery.com/accounts/WAKING/subscriber/topics?qsp=CODE_RED')
                | Subscribe to alerts 
                span.fa.fa-share
  #footer-social-bar
    block survey-link
    .container
      .row
        ul.list-inline
          li.hidden-xs Stay connected!
          li.hidden-xs
            a(href='/about/news/social-media') View King County social media
          li
            a(href='//www.facebook.com/KingCountyWA')
              span.fa.fa-facebook-square
          li
            a(href='//www.twitter.com/kcnews')
              span.fa.fa-twitter-square
          li
            a(href='//feeds.delicious.com/v2/rss/KingCounty')
              span.fa.fa-rss-square
          li
            a(href='//www.flickr.com/photos/kingcounty')
              span.fa.fa-flickrs
  #footer-legal
    .container
      .row
        .col-sm-4
          a(href='/')
            img#footer-legal-logo.img-responsive(src='/img/horiz_transbg.gif', alt='footer logo')
        .col-sm-8
          ul.list-unstyled.list-inline
            li © King County 2014 
            li
              a(href='/about/website/privacy') Privacy 
            li
              a(href='/about/website/accessibility') Accessibility 
            li
              a(href='/about/website/termsofuse') Terms of use
  