footer#footer.footer.hidden-print
  #footer-nav-limit
  #sticky-footer.hidden-xs.hidden-sm
    .container
      .row
        .col-sm-4
          h4
            a(href='#footer-nav', title='Information for') Information for... 
        .col-sm-4
          h4
            a(href='#footer-nav', title='Do more online ') Do more online 
        .col-sm-4
          h4
            a(href='#footer-nav', title='Contact us') Contact us 
          
  #footer-nav
    .container
      .row
        .col-sm-4
          h4
            | Information for
            i.pull-right.fa.fa-plus.visible-xs
          ul.list-unstyled.collapse.in
            li
              a(href='/healthservices/health/personal/coverage.aspx', title='Healthcare enrollment') Healthcare enrollment
            li
              a(href='/audiences/residents', title='Residents') Residents
            li
              a(href='/audiences/businesses', title='Businesses') Businesses
            li
              a(href='/audiences/job-seekers', title='Job seekers') Job seekers
            li
              a(href='/audiences/volunteers', title='Volunteers') Volunteers
            li
              a(href='/audiences/employees', title='King County employees') King County employees
        .col-sm-4
          h4
            | Do more online
            i.pull-right.fa.fa-plus.visible-xs
          ul.list-unstyled.collapse.in
            li
              a(href='/tools/trip-planner') Trip Planner
            li
              a(href='/tools/property-tax') Property tax information & payment
            li
              a(href='/tools/inmate-lookup') Jail inmate look up
            li
              a(href='/tools/parcel-viewer', title='Parcel viewer or iMap') Parcel viewer or iMap
            li
              a(href='/tools/public-records', title='Public records') Public records
            li
              a(href='/how-do-i.aspx#do-more-online-tab', title='More online tools')
                em More online tools...
        .col-sm-4
          h4
            | Contact us
            i.pull-right.fa.fa-plus.visible-xs
          ul.list-unstyled.collapse.in
            li
              a(href='tel:+2062960100', title='206-296-0100') 206-296-0100
            li
              a(href='http://info.kingcounty.gov/about/contact/default.aspx', title='Email us')
                | Email us 
                span.fa.fa-envelope
            li
              a(href='/tools/staff-directory', title='Staff directory') Staff directory
            li
              a(href='/elected/executive/customer-service', title='Customer service') Customer service
            li
              a(href='/tools/report-problem', title='Report a problem') Report a problem
            li
              a(href='https://public.govdelivery.com/accounts/WAKING/subscriber/topics?qsp=CODE_RED', title='Subscribe to alerts')
                | Subscribe to alerts 
                span.fa.fa-share
  #footer-social-bar
    block survey-link
    .container
      .row
        ul.list-inline
          li.hidden-xs Stay connected!
          li.hidden-xs
            a(href='/about/news/social-media', title='Social media') View King County social media
          li
            a(href='https://www.facebook.com/KingCountyWA', title='King County Facebook')
              i.fa.fa-facebook-square
          li
            a(href='http://www.twitter.com/kcnews', title='King County Twitter')
              i.fa.fa-twitter-square
          li
            a(href='http://feeds.delicious.com/v2/rss/KingCounty', title='King County news')
              i.fa.fa-rss-square
          li
            a(href='http://www.flickr.com/photos/kingcounty', title='King County Flickr')
              i.fa.fa-flickrs
  #footer-legal
    .container
      .row
        .col-sm-4
          a(href='/', title='King County Home')
            img#footer-legal-logo.img-responsive(src='img/horiz_transbg.gif', alt='footer logo')
        .col-sm-8
          ul.list-unstyled.list-inline
            li © King County 2014 
            li
              a(href='/about/website/privacy', title='Privacy Statement') Privacy 
            li
              a(href='/about/website/accessibility', title='Accessibility') Accessibility 
            li
              a(href='/about/website/termsofuse', title='Terms of use') Terms of use
  