head
    meta(charset="utf-8")
    title King County, Washington
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="Official home page for King County Government, Seattle, Wash. Features include innovative government initiatives, information on county services and news.")
    meta(name="Author" content="")
    meta(name="Keywords" content="")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-touch-fullscreen" content="yes")
    link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
    block whichtheme
    link(rel="stylesheet" href= rootPrefix + "css/kc-theme-#{theme}.css")
    link(href= httpPrefix + '//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,600,700,800,400' rel='stylesheet' type='text/css')
    //- script(src= rootPrefix + "js/vendor/kc-analytics.js")
    script(src= rootPrefix + "js/vendor/modernizr-latest.js")
    block custom-style



