.row.addon-row.addon-row-attached
  hgroup#nt-header
    .col-xs-6.col-sm-8
      h1 News
    .col-xs-6.col-sm-4
      p
        | King County Executive
        br
        strong Dow Constantine
  .col-xs-12
    hr