.row.addon-row.main-breadcrumb-row.hidden-print
  .col-xs-12
    // FULL-WIDTH CHANGE: THIS BUTTON IS REMOVED 
    button.btn.btn-nav-green.pull-left.visible-xs.visible-sm(data-toggle='offcanvas')
      span.fa.fa-chevron-left
      | &nbspMenu 
    // FULL-WIDTH CHANGE: ADD MARGIN-LEFT:0 TO THIS OL  
    ol.breadcrumb.main-breadcrumb(style="margin-left:0")
      li
        a(href='#') Level 1
      li
        a(href='#') Level 2
      li.active Level 3