.row.addon-row.addon-row-transparent.main-share-links
  .col-sm-12
    ul.list-inline
      li#LastUpdate Last Updated February 20, 2014    
      li.clearfix.visible-xs
      li.hidden-print
        a#facebook-share-button.btn.btn-default(href='#', rel='nofollow', title='Share on Facebook')
          i.fa.fa-facebook-square 
          | &nbspShare
      li.hidden-print
        a#twitter-share-button.btn.btn-default(href='#', rel='nofollow', title='Share on Twitter')
          i.fa.fa-twitter 
          | &nbspTweet
      li.hidden-print
        a#email-share-button.btn.btn-default(href='#', rel='nofollow', title='Email page')
          i.fa.fa-envelope 
          | &nbspEmail
      li.hidden-print
        a#print-share-button.btn.btn-default(href='#', rel='nofollow', title='Print page')
          i.fa.fa-print 
          | &nbspPrint
