.row.full-width-row
  .col-sm-8
    .dept-footer-map
      .map-container
        #map-canvas2.map-canvas
        .map-overlay
            h3 Law Offices of Guys Inc.
            address
              p 
                | King Street Center Building
                br 
                | 298 S King St
                br
                | Seattle, WA 98104
            p 
              strong
                a.btn.btn-primary(href="" id="map-link") Get directions</a>
  .col-sm-4
    table.table.table-condensed
      tr
        td(colspan="2") 
          h6 Contact us
      tr 
        td(colspan="2")
          .remove-link-underline
            a(href='https://www.facebook.com/ExecutiveConstantine')
              span.fa-stack.fa-2x
                i.fa.fa-square.fa-stack-2x.fa-inverse
                i.fa.fa-facebook-square.fa-stack-2x
            a(href='http://www.twitter.com/kcexec')
              span.fa-stack.fa-2x
                i.fa.fa-square.fa-stack-2x.fa-inverse
                i.fa.fa-twitter-square.fa-stack-2x
            a(href='http://www.flickr.com/photos/117115665@N05')
              span.fa-stack.fa-2x
                i.fa.fa-square.fa-stack-2x.fa-inverse
                i.fa.fa-flickr.fa-stack-2x  
      tr
        td
          img(alt='Dow constantine portrait', src='http://www.kingcounty.gov/elected/executive/~/media/elected/executive/constantine/graphics/dow-constantine-footer.ashx')
        td
          p King County Executive 
            br 
            strong Dow Constantine
      tr
        td(colspan="2") 
          p Read the Executive's&nbsp;
            a(href='/elected/executive/constantine/about/biography.aspx') biography