.row.addon-row.addon-row-transparent
  .col-sm-12
    .row.full-width-row
      .col-sm-8
        .dept-footer-map
          .map-container
            #map-canvas.map-canvas
            .map-overlay
                h3 Records and Licensing Services Division
                address
                  p 
                    | King County Administration Building
                    br 
                    | 500 Fourth Ave., Suite 401
                    br
                    | Seattle, WA 98104
                p 
                  strong
                    a.btn.btn-primary(href="" id="map-link") Get directions</a>
      .col-sm-4
        table.table.table-condensed
          tr
            td
              .fa.fa-phone-square.fa-color-default.fa-2x
            td    
              strong Vehicle &amp; Vessel Licensing: 
              br
              a(href="tel:2064774000") 206-477-4000
          tr
            td
              .fa.fa-phone-square.fa-color-default.fa-2x
            td    
              strong Taxi/For-Hire/TNC:
              br
              a(href="tel:2062631982") 206-263-1982
          tr
            td
              .fa.fa-fax.fa-color-default.fa-2x
            td    
              strong Taxi/For-Hire/TNC:
              br
              a(href="tel:2062631982") 206-263-1982
          tr
            td
              .fa.fa-envelope.fa-color-default.fa-2x
            td 
              a(href="https://public.govdelivery.com/accounts/WAKING/subscriber/new?topic_id=JaneHague") Sign up for my eNewsletter
              | - get news about District 6 and King County government delivered right to your email .
