.row.addon-row.addon-row-attached
    .col-sm-12
      h1 One column addon
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare porta lectus. Maecenas euismod est nec nisi bibendum, hendrerit malesuada enim commodo.Nullam ultrices diam et purus pharetra ultrices. Phasellus ac lobortis lectus. Praesent tortor enim, pharetra vitae interdum in, volutpat in libero. Integer sed laoreet lectus. Proin posuere quam vulputate blandit tincidunt. Suspendisse venenatis nisl urna, vel sodales tortor venenatis vel. Curabitur sodales faucibus tellus ac lacinia. Morbi cursus rhoncus nulla, et dapibus nunc sagittis eu. Morbi eu tempus metus.




