.row.addon-row.addon-row-attached
  .col-sm-12
    h2 Two column addon - 4x8
  .col-sm-4
    img(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
    p
      | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
  .col-sm-8
    img.pull-right(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
    p
      | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.