table.table
  thead
    tr
      th #
      th Column heading
      th Column heading
      th Column heading
  tbody
    tr.active
      th(scope='row') 1
      td Column content
      td Column content
      td Column content
    tr
      th(scope='row') 2
      td.active Column content
      td Column content
      td Column content
    tr.success
      th(scope='row') 3
      td Column content
      td Column content
      td Column content
    tr
      th(scope='row') 4
      td.success Column content
      td Column content
      td Column content
    tr.info
      th(scope='row') 5
      td Column content
      td Column content
      td Column content
    tr
      th(scope='row') 6
      td Column content
      td.info Column content
      td Column content
    tr.warning
      th(scope='row') 7
      td Column content
      td Column content
      td Column content
    tr
      th(scope='row') 8
      td Column content
      td.warning Column content
      td Column content
    tr.danger
      th(scope='row') 9
      td Column content
      td Column content
      td Column content
    tr
      th(scope='row') 9
      td Column content
      td Column content
      td.danger Column content