.table-responsive
  table.table
    thead
      tr
        th #
        th Table heading
        th Table heading
        th Table heading
        th Table heading
        th Table heading
        th Table heading
    tbody
      tr
        th(scope='row') 1
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
      tr
        th(scope='row') 2
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
      tr
        th(scope='row') 3
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
.table-responsive
  table.table.table-bordered
    thead
      tr
        th #
        th Table heading
        th Table heading
        th Table heading
        th Table heading
        th Table heading
        th Table heading
    tbody
      tr
        th(scope='row') 1
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
      tr
        th(scope='row') 2
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
      tr
        th(scope='row') 3
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell
        td Table cell