h2 Another simple form
form#simpleForm2
  .form-group
    label(for='singleText') Single line text
    input#singleText.form-control(type='text' placeholder='' name="singleText")
  .form-group
    label(for='multiText') Multiline Text
    textarea#multiText.form-control(rows='3' placeholder='textarea' name="multiText")
  button.btn.btn-primary(type='submit') Submit