extends includes/base
block whichtheme
  - var theme = 'default'
block isfullwidth
  - var colSize = 'col-md-9'
block sidebar
  // SIDENAV
  include includes/sidenav
block custom-style
  style
block breadcrumb
  // BREADCRUMB
  include includes/breadcrumb
block main-content
  .row.addon-row.addon-row-attached
    .col-sm-12
      .page-header
        h1 Department footer
        // h2: small Sub header
  .row.addon-row.addon-row-attached
    .thumbnail-eq-height
      .col-xs-4
        .thumbnail
          h3 Thumbnail label
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      .col-xs-4
        .thumbnail
          h3 Thumbnail label
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      .col-xs-4
        .thumbnail
          h3 Thumbnail label
          p Lorem ipsum dolor
  .row.addon-row.addon-row-transparent
    .col-sm-12
      .row.full-width-row
        .col-sm-8
          .dept-footer-map
            .map-container
              #map-canvas.map-canvas
              .map-overlay
                  h3 Records and Licensing Services Division
                  address
                    p 
                      | King County Administration Building
                      br 
                      | 500 Fourth Ave., Suite 401
                      br
                      | Seattle, WA 98104
                  p 
                    strong
                      a.btn.btn-primary(href="" id="map-link") Get directions</a>
        .col-sm-4
          table.table.table-condensed
            tr
              td
                .fa.fa-phone-square.fa-color-default.fa-2x
              td    
                strong Vehicle &amp; Vessel Licensing: 
                br
                a(href="tel:2064774000") 206-477-4000
            tr
              td
                .fa.fa-phone-square.fa-color-default.fa-2x
              td    
                strong Taxi/For-Hire/TNC:
                br
                a(href="tel:2062631982") 206-263-1982
            tr
              td
                .fa.fa-fax.fa-color-default.fa-2x
              td    
                strong Taxi/For-Hire/TNC:
                br
                a(href="tel:2062631982") 206-263-1982
            tr
              td
                .fa.fa-envelope.fa-color-default.fa-2x
              td 
                a(href="https://public.govdelivery.com/accounts/WAKING/subscriber/new?topic_id=JaneHague") Sign up for my eNewsletter
                | - get news about District 6 and King County government delivered right to your email .
      .row.full-width-row
        .col-sm-8
          .dept-footer-map
            .map-container
              #map-canvas2.map-canvas
              .map-overlay
                  h3 Law Offices of Guys Inc.
                  address
                    p 
                      | King Street Center Building
                      br 
                      | 298 S King St
                      br
                      | Seattle, WA 98104
                  p 
                    strong
                      a.btn.btn-primary(href="" id="map-link") Get directions</a>
        .col-sm-4
          
          table.table.table-condensed
            tr
              td(colspan="2") 
                h6 Contact us
            tr 
              td(colspan="2")
                .remove-link-underline
                  a(href='https://www.facebook.com/ExecutiveConstantine')
                    span.fa-stack.fa-2x
                      i.fa.fa-square.fa-stack-2x.fa-inverse
                      i.fa.fa-facebook-square.fa-stack-2x
                  a(href='http://www.twitter.com/kcexec')
                    span.fa-stack.fa-2x
                      i.fa.fa-square.fa-stack-2x.fa-inverse
                      i.fa.fa-twitter-square.fa-stack-2x
                  a(href='http://www.flickr.com/photos/117115665@N05')
                    span.fa-stack.fa-2x
                      i.fa.fa-square.fa-stack-2x.fa-inverse
                      i.fa.fa-flickr.fa-stack-2x  
            tr
              td
                img(alt='Dow constantine portrait', src='http://www.kingcounty.gov/elected/executive/~/media/elected/executive/constantine/graphics/dow-constantine-footer.ashx')
              td
                p King County Executive 
                  br 
                  strong Dow Constantine
              
            tr
              td(colspan="2") 
                p Read the Executive's&nbsp;
                  a(href='/elected/executive/constantine/about/biography.aspx') biography

block custom-js
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDT-mLo8UZkliV9nOtzr4gcVDNCqvx7SdI')
  //-http://www.kingcounty.gov/~/media/scripts/dept-footer-map.js
  script(src="js/lib/dept-footer-map.js")
  script.
    //TODO: Allow for 
    (function($) {
      $('#map-canvas').footerMap( {address: '500 Fourth Ave. Seattle, WA 98104'});
      $('#map-canvas2').footerMap( {address: '298 S King St, Seattle, WA 98104'});
    })(jQuery);  
    