extends includes/base
block whichtheme
  - var theme = 'default'
block isfullwidth
  - var colSize = 'col-md-9'
block sidebar
  // SIDENAV
  include includes/sidenav
block breadcrumb
  // BREADCRUMB
  include includes/breadcrumb
block main-content
  .row.addon-row.addon-row-attached
    .col-sm-12
      .page-header
        h1 Helper classes
        // h2: small Sub header
  .row.addon-row.addon-row-attached
    .col-sm-12 
      .text-muted Dusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
      .text-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
      .text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
      .text-info Maecenas sed diam eget risus varius blandit sit amet non magna.
      .text-warning Etiam porta sem malesuada magna mollis euismod.
      .text-danger Donec ullamcorper nulla non metus auctor fringilla.

  .row.addon-row.addon-row-attached
    .col-sm-12
      .bg-muted Dusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
      .bg-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
      .bg-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
      .bg-info Maecenas sed diam eget risus varius blandit sit amet non magna.
      .bg-warning Etiam porta sem malesuada magna mollis euismod.
      .bg-danger Donec ullamcorper nulla non metus auctor fringilla.