extends includes/base
block whichtheme
  - var theme = 'default'
block isfullwidth
  - var colSize = 'col-md-12'
block sidebar
  // SIDENAV
block breadcrumb
  // BREADCRUMB
  include includes/breadcrumb
block main-content
    .row.addon-row.addon-row-attached
        .col-sm-12
            .jumbotron
              h1 Bootstrap 3 - King County update
              p
                | I'll be keeping the links to demos and prototypes here. I'll also be uploading to tfs and github.
    .row.addon-row.addon-row-attached
        .col-sm-12
            .col-md-6
              ul.list-unstyled
                li
                  a(href='spec.html') Spec (for Al)
                li
                  a(href='news-story.html') News story
                li
                  a(href='news-portal.html') News portal
                li
                  a(href='news-archive.html') News archive
                li
                  a(href='gov-delivery.html') GovDelivery landing page
                li
                  a(href='notfound.html') 404 file not found
                li
                  a(href='survey-link.html') Survey-link
                li
                  a(href='carousel.html') 
                    | Carousel 
                li
                  a(href='FAQ.html') FAQ
                li
                  a(href='news-story.html') News story
                li
                  a(href='news-portal.html') News portal
                li
                  a(href='news-archive.html') News archive
                li
                  a(href='framework.html') Framework
                li
                  a(href='standard-nav.html') Standard nav
                li
                  a(href='portal.html') Portal
                li
                  a(href='default-theme.html') Default Theme (orange theme)
                li
                  a(href='corporate-theme.html') Corporate Theme (blue theme)
                li
                  a(href='caring-theme.html') Caring Theme (purple theme)
                li
                  a(href='environment-theme.html') Environment Theme (green theme)
                li
                  a(href='row-addons.html') Column Addons
                li
                  a(href='alert.html') Alert - with close button
                li
                  a(href='call-out.html') Call out examples
                li
                  a(href='carousel.html') Carousel
                li
                  a(href='calendar.html') Calendar
                li
                  a(href='template-portal.html') Portal template
                li
                  a(href='print.html') Print examples
                li
                  a(href='video.html') Video examples - Added fitvid
                li
                  a(href='home.html') Home Page
                li
                  a(href='news-feed.html') News Feed
                li
                  a(href='maps.html')
                    | Maps demo
                li
                  a(href='responsive-img-test.html') Responsive image demo
