extends includes/base
block sidebar
block whichtheme
  - var theme = 'default'
block isfullwidth
  - var colSize = 'col-md-12'
block breadcrumb
  // BREADCRUMB
  include includes/portal-breadcrumb
block main-content
  include includes/example-content

  