extends default-theme
block main-content
  .row.addon-row.addon-row-attached
    .col-sm-12
      h1 One column addon
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare porta lectus. Maecenas euismod est nec nisi bibendum, hendrerit malesuada enim commodo.Nullam ultrices diam et purus pharetra ultrices. Phasellus ac lobortis lectus. Praesent tortor enim, pharetra vitae interdum in, volutpat in libero. Integer sed laoreet lectus. Proin posuere quam vulputate blandit tincidunt. Suspendisse venenatis nisl urna, vel sodales tortor venenatis vel. Curabitur sodales faucibus tellus ac lacinia. Morbi cursus rhoncus nulla, et dapibus nunc sagittis eu. Morbi eu tempus metus.
  .row.addon-row.addon-row-attached.addon-row-attached
    .col-sm-12
      h2 Two column addon - 6x6
    .col-sm-6
      img.img-responsive.pull-right(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
    .col-sm-6
      img.img-responsive.pull-right(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
  .row.addon-row.addon-row-attached
    .col-sm-12
      h2 Two column addon - 8x4
    .col-sm-8
      img.img-responsive.pull-left(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
    .col-sm-4
      img.img-responsive(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
  .row.addon-row.addon-row-attached
    .col-sm-12
      h2 Two column addon - 4x8
    .col-sm-4
      img.img-responsive(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
    .col-sm-8
      img.img-responsive.pull-right(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
  .row.addon-row.addon-row-attached
    .col-sm-12
      h2 3 column addon - 4x4x4
    .col-sm-4
      img.img-responsive(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
    .col-sm-4
      img.img-responsive(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
    .col-sm-4
      img.img-responsive(src='img/rotator-flood2.jpg', alt='This is a picture', width='229', height='189')
      p
        | Nunc tincidunt turpis non quam ornare, ut tincidunt lectus semper. Aenean ultricies porta mauris non mattis. Donec et dapibus ligula. Fusce id sem nunc. Pellentesque mauris magna, porttitor placerat dui a, vehicula facilisis tellus. In ultricies vel odio ultricies tristique. Nulla vitae orci vehicula, iaculis eros sed, ornare nisi. Sed tempor quam non lectus dictum, ac aliquam quam sodales. In bibendum rhoncus risus vehicula tincidunt. Sed eleifend consectetur pharetra. Donec quis tellus mi. Aenean auctor dolor arcu, eget pulvinar lacus luctus quis. Sed in odio quis ante hendrerit dignissim. Vivamus turpis dolor, semper ac purus eu, eleifend malesuada magna. Sed posuere at mi ut venenatis.
