extends includes/base
block whichtheme
  - var theme = 'default'
block isfullwidth
  - var colSize = 'col-md-12'
block sidebar
block breadcrumb
  // BREADCRUMB
  include includes/breadcrumb
block main-content
  .row.addon-row.addon-row-attached
    .col-sm-12
      .page-header
        h1 Social Media Table
  .row.addon-row.addon-row-attached
    .col-sm-12
      h3 All social media channels
      .table-responsive.text-center
        table.table.table-hover.table-striped.table-bordered(summary='These are links to social media from all King County services')
          tbody
            tr
              td King County News
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-facebook-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-twitter-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-flickr.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-instagram.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-pinterest-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-youtube-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-vimeo-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-linkedin-square.fa-lg
            tr
              td Executive Constantine
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-facebook-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-twitter-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-flickr.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-instagram.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-pinterest-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-youtube-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-vimeo-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-linkedin-square.fa-lg
            tr
              td King County Council
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-facebook-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-twitter-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-flickr.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-instagram.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-pinterest-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-youtube-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-vimeo-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-linkedin-square.fa-lg
            tr
              td Metro Transit
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-facebook-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-twitter-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-flickr.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-instagram.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-pinterest-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-youtube-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-vimeo-square.fa-lg
              td
                a(href="http://www.facebook.com" style="border-bottom:none")
                  i.fa.fa-linkedin-square.fa-lg


