extends includes/base
block whichtheme
  - var theme = 'caring'
block isfullwidth
  - var colSize = 'col-md-9'
block sidebar
  // SIDENAV
  include includes/sidenav
block breadcrumb
  // BREADCRUMB
  include includes/breadcrumb
block main-content
  include includes/example-content2