.row.addon-row.addon-row-transparent.call-out-row
  .col-sm-3.call-out
    .thumbnail
      a(href="/elections/currentelections.aspx")
        i.fa.fa-bullhorn.fa-2x
        p Current election
  .col-sm-3.call-out
    .thumbnail
      a(href="/elections/currentelections.aspx")
        i.fa.fa-group.fa-2x
        p About Elections
  .col-sm-3.call-out
    .thumbnail
      a(href="/elections/currentelections.aspx")
        i.fa.fa-bullhorn.fa-2x
        p About Voting
  .col-sm-3.call-out
    .thumbnail
      a(href="/elections/currentelections.aspx")
        i.fa.fa-group.fa-2x
        p About Stuff
             